extends layout

block content
  h2.text-4xl Todos
  div.grid.gap-5
    each todo in todos
      div.todo-list
        h3.todo-title #{todo.title}
        p.todo-description #{todo.description}
        p #{todo.dueDate}
